
<section class="bg-white border-b py-8 pt-28">
<h2 class="italic w-full my-2 text-3xl sm:text-4xl font-bold leading-tight text-center text-gray-800">
塾生(第一期生)絶賛募集中！
  </h2>
<div class="w-full mb-4">
    <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
  </div>
<h2 class="italic w-full my-2 text-3xl sm:text-6xl font-bold leading-tight text-center text-gray-800">
自然から学び<br>
政治に活かす!<br>
塾生求む！
  </h2>
  <div class="w-full mb-4 mt-4">
    <div class="h-1 mx-auto gradient w-96 opacity-25 my-0 py-0 rounded-t"></div>
  </div>


  <section class="text-gray-600 body-font bg-white">
  <div class="container mx-auto flex px-5 py-10 items-center justify-center flex-col">
    <div class="text-left lg:w-3/3 w-full">
      <p class="mb-8 leading-relaxed text-xl italic">
      現在、鼎立の党では共に選挙を戦ってくれる候補生を募集しております。<br>
      日本国の選挙権をお持ちで、党の綱領、理念にご賛同いただける選挙への立候補に興味のある方で、一年間、共に自然を学ぶことができる方が対象です。<br>
少しでも、興味関心をお持ちの方は、ぜひ鼎立の党の理念をご確認いただき、塾生としての政治参加を宜しくお願いします。<br>
皆様のご応募を、心より、お待ち申し上げます。<br>
</p>

<div class="leading-relaxed text-sm italic text-right">鼎立の党代表</div>
<div class="leading-relaxed text-xl italic text-right">高橋 秀彰</div>

     
    </div>
  </div>
</section>
<section class="text-gray-600 body-font bg-white">
  <div class="container mx-auto flex px-5 py-10 items-center justify-center flex-col">
    <div class="text-left lg:w-3/3 w-full">
<p class="leading-relaxed text-lm"> 
※本塾には入塾に際し、選考がございます。特待生として若干名の募集となりますので、ご期待に添えない場合がございます。<br>
あらかじめ、ご了承くださいますよう、宜しくお願い申し上げます。<br>
また、選考基準、並びに選考理由はお答え出来かねます。重ね重ね、宜しくお願い申し上げます。<br>
</p>
</div>
</div>
</section>


<section class="bg-gray-100 py-8">
  <div class="container mx-auto px-2 pt-4 pb-12 text-gray-800">
    <h2 class="w-full my-2 text-3xl sm:text-4xl font-bold leading-tight text-center text-gray-800">
      募集要項
    </h2>
    <div class="w-full mb-4">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
<table class="table p-4 bg-white rounded-lg shadow w-full">
    <thead>
        <tr>
            <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-gray-900">
                
            </th>
            <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-gray-900">
                
            </th>
            <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-gray-900">
                
            </th>
            
        </tr>
    </thead>
    <tbody style="font-family: 'Hiragino Kaku Gothic Pro';">
        <tr class="text-gray-700 ">
            <td class="border-b-2 p-4 dark:border-dark-5 font-bold">
            入塾要件
            </td>
            <td class="border-b-2 p-4 dark:border-dark-5">
            本国の被選挙権があり、鼎立の党の綱領、理念に賛同し、共にその実現に向けて活動できる方
            </td>
            
            
        </tr>
        <tr class="text-gray-700">
            <td class="border-b-2 p-4 dark:border-dark-5">
            応募期間
            </td>
            <td class="border-b-2 p-4 dark:border-dark-5">
            第一期【令和6年7月入塾】　願書〆切　令和6年6月末日（消印有効）まで
            </td>
           
        </tr>
       
        <tr class="text-gray-700">
            <td class="border-b-2 p-4 dark:border-dark-5">
               開校場所
            </td>
            <td class="border-b-2 p-4 dark:border-dark-5">
            FarmersKitchen NoraCafe周辺の圃場（兵庫県丹波市春日町多田1534）　並びに講師農家の各圃場
            </td>
           
           
        </tr>
        <tr class="text-gray-700">
            <td class="border-b-2 p-4 dark:border-dark-5">
            開校期間
            </td>
            <td class="border-b-2 p-4 dark:border-dark-5">
        夏開校　令和6年7月15日〜令和7年6月末日
        </td>
           
        </tr>
        <tr class="text-gray-700">
            <td class="border-b-2 p-4 dark:border-dark-5">
            
            </td>
            <td class="border-b-2 p-4 dark:border-dark-5">
        冬開校　令和7年1月15日〜令和8年12月末日
        </td>
           
        </tr>
    
    

 
<tr class="text-gray-700">
    <td class="border-b-2 p-4 dark:border-dark-5">
    総受講時間
    </td>
    <td class="border-b-2 p-4 dark:border-dark-5">
    週2日程度＋土用期間(年4回)の集中講座
</td>
   
</tr>
<tr class="text-gray-700">
    <td class="border-b-2 p-4 dark:border-dark-5">
    
    </td>
    <td class="border-b-2 p-4 dark:border-dark-5">
    自家農園での作付け自習（週5日、全日、出入り自由）
</td>
   
</tr>


<tr class="text-gray-700">
    <td class="border-b-2 p-4 dark:border-dark-5">
    定員
    </td>
    <td class="border-b-2 p-4 dark:border-dark-5">
    各期若干名
</td>
   
</tr>

<tr class="text-gray-700">
    <td class="border-b-2 p-4 dark:border-dark-5">
    応募方法
    </td>
    <td class="border-b-2 p-4 dark:border-dark-5">
    体験入学会への参加後、以下の書類を事務局宛にメール添付もしくは郵送にてお送りください。<br>
    <%= button_to '体験申込フォーム', {controller: "trials", action: "new"}, {method: :get, :class => "mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out", :target => "_blank"} %>
</td>
   
</tr>
<tr class="text-gray-700">
    <td class="border-b-2 p-4 dark:border-dark-5">
    
    </td>
    <td class="border-b-2 p-4 dark:border-dark-5">
    入塾願書（以下よりダウンロードしてください。）<br>
    <%= link_to '入学願書ダウンロード', image_url("teiritujyuku_application_form.pdf"), { :class => "mx-auto lg:mx-0 hover:underline gradient text-white text-center font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out flex flex-col", :id => "navAction", :target => "_blank"} %>
</td>
   
</tr>
<tr class="text-gray-700">
    <td class="border-b-2 p-4 dark:border-dark-5">
    
    </td>
    <td class="border-b-2 p-4 dark:border-dark-5">
   
</td>
   
</tr>
    
    </tbody>
</table>
</div>
</section>
