<section class="bg-white border-b py-8 pt-28">
<h2 class="italic w-full my-2 text-3xl sm:text-4xl font-bold leading-tight text-center text-gray-800">
ご寄付について
  </h2>
<div class="w-full mb-4">
    <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
  </div>
<h2 class="italic w-full my-2 text-3xl sm:text-5xl font-bold leading-tight text-center text-gray-800">
自然と調和する世界を日本から実現する為に<br>
皆様のご支援を何卒宜しくお願いします
  </h2>
  <div class="w-full mb-4 mt-4">
    <div class="h-1 mx-auto gradient w-96 opacity-25 my-0 py-0 rounded-t"></div>
  </div>


  <section class="text-gray-600 body-font bg-white">
  <div class="container mx-auto flex px-5 py-10 items-center justify-center flex-col">
    <div class="text-left lg:w-3/3 w-full">
      <p class="mb-8 leading-relaxed text-xl"> 
      現在、鼎立の党では、<span class="font-bold underline">個人の方</span>からのみ、ご寄付を受け付けております。<br>
年間150万円を超えない範囲にて、皆様のお力をお貸しください。<br>
いただいた寄付金は全て、これからの日本、ひいては世界の大切なルールとして、人と自然が調和する為の国内法をはじめとする法律の立案や、その為の調査、研究等に使わせていただきます。<br>
何卒宜しくお願い申し上げます。<br>
<br><br>
</p>

<div class="leading-relaxed text-sm text-right">鼎立の党代表</div>
<div class="leading-relaxed text-xl text-right">高橋 秀彰</div>

     
    </div>
  </div>
</section>

<section class="text-gray-600 body-font bg-white">
  <div class="container mx-auto flex px-5 py-10 items-center justify-center flex-col">
    <div class="text-left lg:w-3/3 w-full">
<p class="mb-8 leading-relaxed text-lm"> 
※ご寄付の金額が5万円を超える場合は、政治資金規正法により、寄附者のお名前、ご住所、ご職業、ご寄附の年月日が選挙管理委員会宛の収支報告書に記載され、開示されます。
何卒、ご了承くださいますよう、宜しくお願い申し上げます。
</p>
</div>
</div>
</section>