
<section class="bg-white border-b py-8 pt-28">
<h2 class="italic w-full my-2 text-3xl sm:text-4xl font-bold leading-tight text-center text-gray-800">
党員募集
  </h2>
<div class="w-full mb-4">
    <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
  </div>
<h2 class="italic w-full my-2 text-3xl sm:text-6xl font-bold leading-tight text-center text-gray-800">
世界を諦めないために<br>
今こそ政治をしよう!
  </h2>
  <div class="w-full mb-4 mt-4">
    <div class="h-1 mx-auto gradient w-96 opacity-25 my-0 py-0 rounded-t"></div>
  </div>


  <section class="text-gray-600 body-font bg-white">
  <div class="container mx-auto flex px-5 py-10 items-center justify-center flex-col">
    <div class="text-left lg:w-3/3 w-full">
      <p class="mb-8 leading-relaxed text-xl italic">
      現在、鼎立の党では、党の活動を支援し、積極的に参加してくれる党員を募集しております。<br>
党員資格は、日本国の選挙権をお持ちで、党の綱領、理念にご賛同いただける方であれば、すぐにご参加いただけます。<br>
党員の皆様のお力添えがあって、初めて真に日本国に資する政治活動を実現できるものと考えております。<br>
少しでも、興味関心をお持ちの方は、ぜひ鼎立の党の理念をご確認いただき、党員としての政治参加を宜しくお願いします。<br>
皆様のご参加を、心より、お待ち申し上げます。<br><br>
</p>

<div class="leading-relaxed text-sm italic text-right">鼎立の党代表</div>
<div class="leading-relaxed text-xl italic text-right">高橋 秀彰</div>

     
    </div>
  </div>
</section>

<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="prctbl_1OrxU6GI7u2eSNmciwmwPHNn"
publishable-key="pk_live_51OZl4aGI7u2eSNmcfM0FacKI50RJP14Iub4gK34Wzca2apNmM5sbyq1gG3cLMwGiR0ieVL8DTIZ0lOaYy7U7gZEU003z7WVdFv">
</stripe-pricing-table>
</section>
