<section class="bg-gray-100 dark:bg-gray-800 dark:text-gray-100 pt-28">
	<div class="container px-4 py-16 mx-auto space-y-8 lg:max-w-3xl">
		<h2 class="text-2xl font-bold md:text-4xl text-center">規約</h2>
        <div class="w-full mb-4">
        <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
      </div>
		<div class="space-y-8">
			<div>
				<h3 class="mb-3 text-lg font-bold md:text-xl">第一条（名称・所在地）</h3>
				<ul class="space-y-4">
					<li class="space-y-1">
						<div class="flex items-center space-x-2">
							<h4 class="font-medium">本党は、鼎立の党と称し、主たる事務所を兵庫県丹波市市島町喜多に置く。</h4>
						</div>
					</li>
				</ul>
			</div>
			<div>
				<h3 class="mb-3 text-lg font-bold md:text-xl">第二条（目的）</h3>
				<ul class="space-y-4">
					<li class="space-y-1">
						<div class="flex items-center space-x-2">
							
							<h4 class="font-medium">本党は以下の内容をその活動の目的とする。</h4>
						</div>
						<p class="ml-7 dark:text-gray-400">1：自然環境と自然的人間を本とする君臣自然の共和社会の実現</p>
            <p class="ml-7 dark:text-gray-400">2：健全な立法の為の三党鼎立議会の実現</p>
            <p class="ml-7 dark:text-gray-400">3：全ての生命と人類が共同調和する視点を立法に反映する</p>
            <div class="flex items-center space-x-2">	
            <h4 class="font-medium">以上3点をもって、国民の増進に努めるものとする。</h4>
          </div>
					</li>
				</ul>
			</div>
			<div>
				<h3 class="mb-3 text-lg font-bold md:text-xl">第三条（事業）</h3>
				<ul class="space-y-4">
					<li class="space-y-1">
						<div class="flex items-center space-x-2">
							<h4 class="font-medium">本党は、前条の目的を達成するために次の事業を行う。</h4>
						</div>
						<p class="ml-7 dark:text-gray-400">1 講演会、座談会等の開催</p>
            <p class="ml-7 dark:text-gray-400">2 会報等の発刊、及び配布</p>
            <p class="ml-7 dark:text-gray-400">3 関係諸団体との連携</p>
            <p class="ml-7 dark:text-gray-400">4 その他本会の目的達成のために必要な事業</p>
					</li>
				</ul>
			</div>
      <div>
      <h3 class="mb-3 text-lg font-bold md:text-xl">第四条（会員）</h3>
      <ul class="space-y-4">
        <li class="space-y-1">
          <div class="flex items-center space-x-2">
            <h4 class="font-medium">本党は、第二条の目的に賛同し、入会申込書を提出した者をもって党員とする。</h4>
          </div>
        </li>
      </ul>
    </div>
    <div>
				<h3 class="mb-3 text-lg font-bold md:text-xl">第五条（役員）</h3>
				<ul class="space-y-4">
					<li class="space-y-1">
						<div class="flex items-center space-x-2">
							<h4 class="font-medium">本党に次の役員をおく。幹事長1名 副幹事長1名 幹事若干名 会計責任者1名 監事1名</h4>
						</div>
					</li>
				</ul>
			</div>
      <div>
				<h3 class="mb-3 text-lg font-bold md:text-xl">第六条（役員の選出及び任期）</h3>
				<ul class="space-y-4">
					<li class="space-y-1">
						<div class="flex items-center space-x-2">
							<h4 class="font-medium">1 役員は、総会において選出する。</h4>
						</div>
            <div class="flex items-center space-x-2">
							<h4 class="font-medium">2 役員の選任は1年とする。ただし、再任を妨げない。</h4>
						</div>
					</li>
				</ul>
			</div>
      <div>
      <h3 class="mb-3 text-lg font-bold md:text-xl">第七条（会議）</h3>
      <ul class="space-y-4">
        <li class="space-y-1">
          <div class="flex items-center space-x-2">
            <h4 class="font-medium">1 幹事長は、毎年1回の通常総会その他必要に応じ、臨時総会を招集する。</h4>
          </div>
          <div class="flex items-center space-x-2">
            <h4 class="font-medium">2 幹事長は、必要に応じ役員会を招集する。</h4>
          </div>
        </li>
      </ul>
    </div>
    <div>
    <h3 class="mb-3 text-lg font-bold md:text-xl">第八条（経費）</h3>
    <ul class="space-y-4">
      <li class="space-y-1">
        <div class="flex items-center space-x-2">
          <h4 class="font-medium">本党の経費は、会費（年額10,000円）、寄付金その他の収入をもって充当する。</h4>
        </div>
      </li>
    </ul>
  </div>
  <div>
  <h3 class="mb-3 text-lg font-bold md:text-xl">第九条（会計年度及び会計監査）</h3>
  <ul class="space-y-4">
    <li class="space-y-1">
      <div class="flex items-center space-x-2">
        <h4 class="font-medium">1 本党の会計年度は、毎年4月1日から3月31日までとする。</h4>
      </div>
      <div class="flex items-center space-x-2">
        <h4 class="font-medium">2 会計責任者は、本党の経理につき年1回監事による監査を受け、その監査意見書を付して総会に報告する。</h4>
      </div>
    </li>
  </ul>
</div>
<div>
<h3 class="mb-3 text-lg font-bold md:text-xl">第十条（規約の改廃）</h3>
<ul class="space-y-4">
  <li class="space-y-1">
    <div class="flex items-center space-x-2">
      <h4 class="font-medium">本規約の改廃は、総会において決定する。</h4>
    </div>
  </li>
</ul>
</div>
<div>
<h3 class="mb-3 text-lg font-bold md:text-xl">第十一条（補則）</h3>
<ul class="space-y-4">
  <li class="space-y-1">
    <div class="flex items-center space-x-2">
      <h4 class="font-medium">本規約に定めなき事項については、役員会で決定する。</h4>
    </div>
  </li>
</ul>
</div>

<div>
<h3 class="mb-3 text-lg font-bold md:text-xl">附則</h3>
<ul class="space-y-4">
  <li class="space-y-1">
    <div class="flex items-center space-x-2">
      <h4 class="font-medium">本規約は、令和5年7月6日から実施する。</h4>
    </div>
  </li>
</ul>
</div>

		</div>
	</div>
</section>